@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-size: 0.7rem;
  font-family: 'Montserrat', sans-serif;
}

.bg-green {
  background-color: green;
}
.bg-red {
  background-color: red;
}
.cursor-pointer {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

a {
  color: black;
  text-decoration: none;
}

.a-:hover {
  text-decoration: none;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.a- {
  color: white;
  text-decoration: none;
}
.width-30 {
  width: 30px;
}
.height-30 {
  height: 30px;
}

@media (max-width: 575.98px) {
  .product-image {
    width: 100% !important;
  }
  .product-details {
    width: 100% !important;
  }
}
